# Dependencies
node_modules/
frontend/node_modules/
backend/venv/
venv/

# Local databases and SQLite
*.db
backend/*.db

# Python files
__pycache__/
backend/__pycache__/
*.pyc

# Builds
dist/
frontend/dist/

# Secrets and Env variables
.env
frontend/.env
*.env.local

# Firebase caches
.firebase/
frontend/.firebase/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
