# Dependencies
node_modules/
venv/
__pycache__/

# Database
*.db
*.sqlite3

# Env (all env files with secrets)
.env*

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Logs
*.log

# Archives
*.rar
*.zip

# Local Assets (Patient Data/Professional Signatures)
frontend/public/consentimientos/
frontend/public/firmas/
